.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid seagreen;
    height:200px;
    width: 600px;
    margin: 5px;
}

.imageWrapper {
    width: 100%;
    height: 150px;
   
}

.mainWrapper{
display: flex;
}

.photo {
    height: 100px;
    width: 100px;
}

.cart {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid seagreen;
}

.row {
    /* display: flex; */
    
}

.product {

    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    
}